<h1>Participant Show Page</h1>

<h2>Participant</h2>
<%= current_participant.name %>

<br>
<h2>reward page</h2>

<h3>rewards</h3>
<% @reward_page.rewards.each do |reward| %>
  <%= render "reward_pages/rewards/reward", reward: reward%>
<% end %>



<%= @reward_page.name %>

<h3>Task</h3>

<% @reward_page.tasks.each do |task| %>
  <%= render "participants/complete_tasks/task", task: task%>
<% end %>



