<section class="pageTitleSection">
  <div class="container pageTitleInfo">
    <h2>Welcome <%= current_participant.name %></h2>
  </div>

  <div class="container">
    <h3 class="margin-bottom">Rewards</h3>
    <div class="row">
      <% @reward_page.rewards.each_with_index do |reward, index| %>
        <%= render "participants/redeem_rewards/reward", reward: reward, index: index %>
      <% end %>
    </div>
    
    <hr>

    <h3 class="margin-bottom">Tasks</h3>

    <% @reward_page.tasks.each do |task| %>
      <%= render "participants/complete_tasks/task", task: task %>
    <% end %>
  </div>
</section>