<div class="copyRight clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-push-7 col-xs-12">
        <div class="copyRightText text-right">
          <p class="text-right">Made by <a href="https://twitter.com/gealgaro">@gealgaro</a>, <a href="https://twitter.com/chopi">@chopi</a>, <a href="https://twitter.com/DBohorquez">@dbohorquez</a> and <a href="https://twitter.com/lonecat">@lonecat</a></p>
        </div>
      </div>
      <div class="col-sm-7 col-sm-pull-5 col-xs-12">
        <div class="copyRightText">
          <p>© 2016 The Walking Devs.</p>
        </div>
      </div>
    </div>
  </div>
</div>