<!-- HEADER -->
<header id="pageTop" class="headerV3">
  <%= render "shared/color-bar" %>

  <!-- NAVBAR -->
  <nav id="menuBar" class="navbar navbar-default lightHeader bg-color-7" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="">
        <%= link_to :root, class: "navbar-brand color-white" do %>
          <i class="fa fa-ticket border-color-1" aria-hidden="true"></i>
          <span>Reward Rampage</span>
        <% end %>
      </div>
      <%= yield :header_navigation_bar %>
    </div>
  </nav>
</header>