<h1>Welcome Page</h1>

<p>Create rewards programs and get tasks done.</p>
<p>Use it with:</p>
<ul>
  <li>
    <span>Your family</span>
    <p>Teach your kids the meaning of work.
      Teach them how to be responsible.
      Teach them how to earn things.</p>
  </li>
  <li>
    <span>Coworkers</span>
    <p>
      Get help with your tasks, and give them a reward for it.
    </p>
  </li>
  <li>
    <span>Employees</span>
    <p>Motivate your employees, create small hackatons and fix issues within
      your organization</p>

  </li>
</ul>

<%= link_to("Get Started", new_reward_page_path) %>
<br>
<small>It is easy and it is free!</small>
<br>
<small>(No Signup Required)</small>
