/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require theme/style
 *= require font-awesome
*/

@import "bootstrap";

.cloudinary-thumbnails {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px !important;
  height: 48px;
}

.btn-primary.btn-disabled {
  background: #ddd !important;
  cursor: default; 
}

.btn-clean {
  width: 20px;
  height: 20px;
  display: block;
  background: transparent;
  border: 0 none;
  border-radius: 3px;
  color: #b5d56a;

  &:hover {
    background: #f8f8f8;
  }
}

.push-right {
  margin-right: 10px;
}

html, body {
  height: 100%;
}

.footer {
  height: 68px;
}

.main-wrapper {
  min-height: 100%;
  margin-bottom: -68px;
}

.main-wrapper:after {
  content: "";
  height: 68px;
  display: block;
}

.sticker-box {
  padding: 10px 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #84bed6;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #ffffff;
}