<div class="js-reward-form padding-bottom">
  <p class="h5">Add a Reward</p>
  
  <% if @reward.errors.any? %>
    <%= @reward.errors.full_messages %>
  <% end %>
  <%= render "reward_pages/rewards/new" %>
</div>


